*{
    margin: 0;
    padding: 0;
    font-family: "General Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: cubic-bezier(0.19, 1, 0.22, 1) .7s;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
}
.bounding{
    width: fit-content;
    opacity: .7;

    overflow: hidden;
}

#main{
    width: 100%;
    background-color: black;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 40px;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 35px;
    color: white;
}
#nav h4{
    font-size: 35px;
}
#heading{
    margin-top: 80px;
}
#heading{
    margin-left: 45px;
    line-height: 1;
    font-size: 7.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
#heading #firsth1{
    opacity: .7;
    font-size: 7.5vw;
}
#heading #secondh1{
    margin-left: 230px;
    font-size: 7.5vw;
    opacity: .7;
}
#heading #place{
    font-size: 20px;
    opacity: 1;
}
.blocktext {
    display: flex;
    flex-direction: column;
    align-items: end;
 
    width: fit-content;
}
.blocktext h6{
    text-align: right;
    font-size: 1vw;
}
#chotiheading h6{
    
    margin-top: .5vw;
    font-size: 1.25vw;
    text-align: right;
    padding-right: 40px;
    text-transform: uppercase;
   
}
#herofooter{
    position: absolute;
    bottom: 4%;
    width: 97%;
    padding: 1vw;
    justify-content: space-between;
    font-size: 1vw;
    display: flex;
    align-items: center;
    text-transform: uppercase;
   
}
#herofooter a{
    color: white;
    text-decoration: none;
}
#herofooter #iconset{
    display: flex;
    gap: .2vw;
}
#herofooter .circle{
    display: flex;
    align-items: center;
    background-color: grey;
    border-radius: 50%;
    justify-content: center;
}


#second{
    width: 100%;
    padding-right: 12vw;
    padding-top: 15%;
    height: 100vh;
    background-color: black;
    color: whitesmoke;
    
}
#second h6{
    font-size: 20px;
}
.elem{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3vw 3vw;
    opacity: .7;
    padding-right: 0%;
}
.elem h1{
    text-transform: uppercase;
    font-size: 6.5vw;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
    position: absolute;
    height: 170%;
    z-index: 999;
    /*opacity: 0;*/
    display: none;
}
.boundingelem{
    font-size: 7.5vw;
}


#about{
    display: flex;
    align-items: center;
   
    width: 100%;
    padding: 20vw 20vw;
    background-color: black;
    color: whitesmoke;
    gap: 6.5vw;
    padding-bottom: 0%;
    padding-left: 35vw;
    font-size: 20px;
    padding-top: 30vw;
}
#textabout{
    width: 25rem;
    

}
#textabout h6{
    text-transform: uppercase;
    font-size: 15px;
    opacity: .7;
    margin-bottom: 1vw;
}
#textabout p{
    line-height: 1.7;
    margin-bottom: 1vw;
}
#textabout a{
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 22px;
    color:#fff;
    text-decoration: none;
}
#about img{
    width: 300px;
    
}
#subscribe{width: 100%;
    
    background-color: black;
    color: whitesmoke;
    padding: 10%;
    padding-left: 50px;
    padding-bottom: 0;
}
#subscribe h6{
    opacity: .7;
    text-transform: uppercase;
    font-size: .89vw;
}
#subscribe h4{
    text-transform: uppercase;
    font-size: 1.16vw;
    margin-top: 10px;
    
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 30px;
    background-color: black;
    color: #fff;
    font-size: 1.65vw;
}
#footer a{
    color: #fff;
    gap: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}
#footerright{
    display: flex;
    gap: 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
